APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=172.31.24.240
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=sePret^i

# FORCED OVERRIDE TO BYPASS THE SELF-SIGNED SSL CHAIN ERROR:
MYSQL_ATTR_SSL_CA=false

# OPTIMIZATION FALLBACK DRIVERS:
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
